
.icon-mail:before { content: '\e800'; } /* '' */
.icon-location-circled:before { content: '\e802'; } /* '' */
.icon-website:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-graduation-cap:before { content: '\e805'; } /* '' */
.icon-briefcase:before { content: '\e806'; } /* '' */
.icon-desktop-circled:before { content: '\e807'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-blank:before { content: '\f0c8'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-connectdevelop:before { content: '\f20e'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-microchip:before { content: '\f2db'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */