body, html {
    font-family: Sans-Serif;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 80mm;
    height: 296mm;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    background-color: aquamarine;
}

.left-sidebar__profile-image {
    margin-top: 10mm;
    display: flex;
    height: auto;
    max-width: 55mm;
    border-radius: 50%;
}

.left-sidebar__section {
    width: 70mm;
}

.left-sidebar__section-header-row {
    display: flex;
    align-items: center;
    margin-top: 5mm;
    font-size: 5mm;
    color: darkblue;
}

.dot {
    height: 4mm;
    width: 4mm;
    background-color: darkblue;
    border-radius: 50%;
    display: block;
}

.left-sidebar__section-header {
    padding-left: 3mm;
    font-size: 6mm;
    vertical-align: top;
    margin: 0;
}

.left-sidebar__section-list {
    padding: 2mm 0;
    padding-left: 4mm;
    margin: 0;
    list-style: none;
    font-size: 4mm;
    color: black;
}

.section__list-item {
    padding: 1.35mm 0;
}

.section__list-item--justify-left {
    display: flex;
    align-content: center;
}

.section__list-item--justify {
    display: flex;
    justify-content: space-between;
}

.section__list-item--justify-left {
    text-align: left;
}

.section__list-item--padding-left {
    padding-left: 5mm;
}

.section__list-item--justify-right {
    text-align: right;
}

.section__list-item--font-setting {
    font-weight: normal;
    font-size: 3.8mm;
}

.section__hobbies-icon {
    padding-left: 0.75mm;
    padding-right: 1mm;
    height: 4mm;
    width: 4mm;
}

/* main page */

.content {
    position: absolute;
    top: 0;
    left: 80mm;
    width: 130mm;
    height: 296mm;
}

.content__section-name {
    display: flex;
    justify-content: center;
    margin-top: 10mm;
}

.content__section-name-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14mm;
    transform: rotate(90deg);
}

.content__section-name-header {
    padding: 0;
    margin: 0;
}

.content__section {
    margin-top: 5mm;
    padding: 2mm;
}

.content__section-header {
    padding: 0;
    margin: 0;
}

.content__section-header-icon {
    font-size: 6mm;
}

.content__section-left-decoration {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.3mm;
}

.content__section-body-text {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content__section-body-faculty {
    font-weight: bold;
}

.content__section-left-decoration-line {
    width: 0.5mm;
    height: 100%;
    background-color: black;
}

.content__section-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__section-header-wrapper--justify {
    display: flex;
    justify-content: left;
}

.content__section-body {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    padding-top: 3mm;
}

.content__section-skills-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content__section-skills-header {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding-top: 2.5mm;
    padding-bottom: 1mm;
}

.content__section-skills {
    display: flex;
    justify-content: center;
}

.content__skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2mm 4mm;
}

.content__skill-icon {
    width: 7mm;
    height: 7mm;
    justify-content: center;
}

.clause {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3mm;
    font-size: 3mm;
}