body, html {
    font-family: Sans-Serif;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /* justify-content: center; */
    width: 80mm;
    border-right: solid black 1mm;
    height: 296mm;
    position: absolute;
    top: 0;
    left: 0;
}

.left-sidebar__profile-image {
    margin-top: 10mm;
    display: flex;
    height: auto;
    max-width: 55mm;
    border-radius: 50%;
}

.left-sidebar__section {
    width: 70mm;
}

.left-sidebar__section-header-row {
    display: flex;
    align-items: center;
    margin-top: 5mm;
    font-size: 15mm;
    color: darkblue;
}

.dot {
    height: 4mm;
    width: 4mm;
    background-color: darkblue;
    border-radius: 50%;
    display: inline-block;
}

.left-sidebar__section-header {
    padding-left: 3mm;
    font-size: 8mm;
    vertical-align: top;
    margin: 0;
}

.left-sidebar__section-list {
    padding: 2mm 0;
    padding-left: 4mm;
    margin: 0;
    list-style: none;
    font-size: 4.5mm;
    color: black;
}

.section__list-item {
    padding: 1mm 0;
}

.section__list-item--justify {
    display: flex;
    justify-content: space-between;
}