body, html {
    font-family: Sans-Serif;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 80mm;
    height: 296mm;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
}

.left-sidebar__profile-image {
    margin-top: 10mm;
    display: flex;
    height: auto;
    max-width: 55mm;
    border-radius: 50%;
}

.left-sidebar__section {
    width: 70mm;
}

.left-sidebar__section-header-row {
    display: flex;
    align-items: center;
    margin-top: 5mm;
    font-size: 5mm;
    color: darkblue;
}

.dot {
    height: 4mm;
    width: 4mm;
    background-color: darkblue;
    border-radius: 50%;
    display: block;
}

.left-sidebar__section-header {
    padding-left: 3mm;
    font-size: 8mm;
    vertical-align: top;
    margin: 0;
}

.left-sidebar__section-list {
    padding: 2mm 0;
    padding-left: 4mm;
    margin: 0;
    list-style: none;
    font-size: 4.5mm;
    color: black;
}

.section__list-item {
    padding: 1.35mm 0;
}

.section__list-item--justify {
    display: flex;
    justify-content: space-between;
}

.section__list-item--justify-left {
    text-align: left;
}

.section__list-item--justify-right {
    text-align: right;
}

/* main page */

.content {
    position: absolute;
    top: 0;
    left: 80mm;
    width: 130mm;
    height: 296mm;
    background-color: aquamarine;
}

.content__section {
    margin-top: 10mm;
}

.content__section-name {
    display: flex;
    justify-content: center;
}

.content__section-name-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15mm;
    transform: rotate(90deg);
}

.section-name__header {
    padding: 0;
    margin: 0;
}

.section-name__position {
    padding: 0;
    margin: 0;
}

.content__section-header-wrapper {
    display: flex;
}